<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta name="baidu-site-verification" content="nPxypLjNNn">
    <meta http-equiv="x-ua-compatible" content="IE=emulateIE7">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>千寻搜索</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="main">
            <h1 class="title">
                <a href="#"><div class="logo large"></div></a>
            </h1>
            <div class="inputArea">
                <input type="text" class="searchInput" />
                <input type="button" class="searchButton" onclick="add_search()" />
            </div>
        </div>
        <div class="foot">
            <div class="wrap">
                <div class="copyright">Copyright &copy;search.cnblogs.cn 版权所有</div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript">
    let search_url = "{% url 'result' %}"
    function add_search(){
        let val = $(".searchInput").val()
        window.location.href=search_url+'?q='+val
    }
</script>
</html>